In [1]:
import mysql.connector as mariadb
import json

In [2]:
connection = mariadb.connect(
    user='root',
    password='red-project',
    host='34.172.27.136',
    database='games'
)

In [3]:
cursor = connection.cursor()

In [5]:
def add_switch_game(id, game_title):
    statement = 'INSERT INTO switch_games (id, game_title) VALUES (%s, %s)'
    data = (id, game_title)
    cursor.execute(statement, data)
    connection.commit()

In [6]:
f = open('../data/switch-games-titles.json')
data = json.load(f)
for element in data:
    add_switch_game(element['id'], element['title'])
f.close()

In [7]:
connection.close()